* {
	padding: 0px;
	margin: 0px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

#all {
	width: 1100px;
	margin: 0 auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear::after {
	content: "";
	display: block;
	clear: both;
}

.inner {
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}

.nav {
	width: 1100px;
	height: 60px;
	margin: 0 auto;
	background-color: gainsboro;
}

.nav .content {
	width: 100%;
}

.nav .logo {
	width: 124px;
	text-indent: -99999px;
	background: url(../images/logo.png) no-repeat center;
	line-height: 60px;
}

.nav ul>li {
	float: left;
	width: 100px;
	line-height: 60px;
	text-align: center;
	position: relative;
}

.nav ul>li a {
	font-size: 14px;
	color: black;
	display: block;
}

.nav ul>li a span {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	z-index: 1;
}

.nav ul>li>a::after {
	content: "";
	width: 100px;
	height: 4px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all .2s linear;
}

.nav ul>li:nth-child(1) ::after {
	background: #A8E957;
}

.nav ul>li:nth-child(2) ::after {
	background: #8DCFFB;
}

.nav ul>li:nth-child(3) ::after {
	background: #FFCB96;
}

.nav ul>li:nth-child(4) ::after {
	background: #FFC2D8;
}

.nav ul>li:nth-child(5) ::after {
	background: #86F5F0;
}

.nav ul>li:nth-child(6) ::after {
	background: #E4B6FF;
}

.nav ul>li:nth-child(7) ::after {
	background: #FFCC99;
}

.nav ul>li:nth-child(8) ::after {
	background: #66CCFF;
}

.nav ul>.active>a::after {
	content: "";
	width: 100px;
	height: 60px;
	display: block;
}

.nav .nav-ul {
	display: none;
	position: absolute;
	background: white;
	padding: 10px 0px;
	z-index: 1;
}


.header {
	width: 1100px;
	background: #F6F6F6;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
}

.header>span {
	color: white;
	font-size: 50px;
	width: 50px;
	height: 50px;
	line-height: 40px;
	text-align: center;
	border-radius: 25px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -25px;
}

.header>span:hover {
	background: rgba(100, 100, 100, 0.5);
}

.header>span:nth-child(1) {
	left: 0px;
	z-index: 1;
}

.header>span:nth-child(2) {
	right: 0px;
	z-index: 1;
}

.header .content {
	width: 100%;
	height: 600px;
	position: relative;
}

.header .content img {
	width: 1100px;
	height: 600px;
	z-index: -1;
	/* 	position: relative; */
}

.header .content .con-ul {
	position: absolute;
	bottom: 10px;
	left: 43%;
}

.header .con-ul li {
	width: 10px;
	height: 10px;
	border: 2px solid white;
	border-radius: 50%;
	margin-right: 15px;
	float: left;
	cursor: pointer;
}

.header .con-ul .con-li {
	border-color: #99CCFF;
}

.img_active {
	cursor: pointer;
}

.header .con-ul .con-active {
	background: #99CCFF;
	width: 24px;
	height: 10px;
	border-radius: 10px;
	border-color: #99CCFF;
}

/* 技术 */
.center {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
}

.center .content .left {
	width: 240px;
	height: 298px;
}

.center .content .left h4 {
	margin: 11px 0;
	padding-left: 10px;
	border-left: 4px solid #69BCF3;
	font-size: 18px;
}

.center .content .left ul {
	border-top: 2px solid #EEEEEE;
	border-bottom: 2px solid #EEEEEE;
}

.center .content .left li {
	height: 30px;
	padding-left: 40px;
	background: url(../images/麋鹿.png) left no-repeat;
	background-size: 24px 24px;
	line-height: 30px;
	border-bottom: 2px dashed #EEEEEE;
	overflow: hidden;
}

.center .content .left li i {
	font-size: 20px;
}

.center .content .left li:nth-child(8) {
	border-bottom: none;
}

.center .content .left b {
	font-weight: initial;
	font-size: 15px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.center .content .left b::after {
	content: attr(data-hover);
	display: block;
	color: green;
}

.center .content .left .active b {
	transform: translateY(-30px);
}

.center .content .both {
	width: 590px;
	margin-left: 15px;
}

.center .content .both .top {
	width: 100%;
	height: 180px;
	background: #FFFFFF;
	position: relative;
	margin-bottom: 10px;
	margin-top: 15px;
}

.center .both .big-box {
	width: 590px;
	height: 180px;
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
}

.center .both .font {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: -100%;
}

.center .both .back {
	width: 100%;
	height: 100%;
	position: absolute;
	/* left: 0px;
	top: -100%; */
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
}

.center .both .big-box .font {
	transition: all .3s ease-in-out;
	background: url("../images/big_box.png") no-repeat;
	background-size: 590px 180px;
}

.center .both .big-box .back {
	transition: all .3s ease-in-out;
	background-color: rgba(161, 175, 201, 0.1);
	background-size: 590px 180px;
	color: black;
}

.center .both .big-box h2 {
	font-size: 30px;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 15px;
}

.center .both .big-box p {
	font-size: 20px;
	line-height: 30px;
}

.center .both .active .font {
	transform-style: preserve-3d;
	transform: translateY(100%);
}

.center .both .active .back {
	transform-style: preserve-3d;
	transform-origin: 50% 100%;
	transform: rotateX(90deg);
}

.center .both .bottom {
	width: 100%;
	background:#FDF5E6;
}

.center .bottom ul {
	padding-top: 15px;
	margin-left: 30px;
}

.center .bottom li {
	position: relative;
	float: left;
	margin-left: 32px;
	text-align: center;
	width: 90px;
	height: 80px;
}

.center .bottom li img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transition: all 1s linear;
}

.center .bottom li::after {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	left: 10px;
	top: -10px;
	opacity: 0;
	border-radius: 50%;
}

.center .bottom li:nth-child(1)::after {
	border: 10px solid #3399CC;
}

.center .bottom li:nth-child(2)::after {
	border: 10px solid #000000;
}

.center .bottom li:nth-child(3)::after {
	border: 10px solid #5BBB4A;
}

.center .bottom li:nth-child(4)::after {
	border: 10px solid #008000;
}


.center .bottom .active img {
	animation: my_rotate 0.5s linear;
}

@keyframes my_rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.center .bottom .active::after {
	animation: katon 1.5s linear infinite;
}

@keyframes katon {
	10% {
		opacity: 0.6;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(2);
	}
}

.center .content .bottom li em {
	font-style: normal;
	font-size: 13px;
}

.center .content .right {
	width: 240px;
	height: 298px;
	margin-left: 15px;
}

.center .content .right h4 {
	margin: 12px 0;
	padding-left: 10px;
	border-left: 4px solid #69BCF3;
	font-size: 18px;
}

.center .content .right p{
	text-indent: 2em;
	font-size: 16px;
	line-height: 24px;
	padding-right: 5px;
}



/* 底栏 */
.footer {
	width: 100%;
}

.footer .content {
	margin-top: 30px;
	position: relative;
}

.footer .down {
	background: #F6F6F6;
	text-align: center;
	margin-top: 40px;
	line-height: 36px;
	margin-bottom: 5px;
}

.footer .down a {
	font-size: 13px;
	color: black;
	border-left: 1px solid black;
	padding-left: 4px;
	text-align: center;
}

.footer .down #about {
	border-left: none;
}

.footer p {
	margin: 0px;
	line-height: 20px;
	color: black;
	text-align: center;
	font-size: 13px;
}

.footer .p1 {
	font-weight: bold;
}

.footer a:hover {
	text-decoration: underline;
	color: #5BBB4A;
}
